* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%; /* Ensure html takes full height */
  background-image: linear-gradient(#ffffff, #ececec); /* Set background on html */
}

body {
  font-size: 18px;
  font-family: 'SF Pro Text', sans-serif;
  color: #000000;
  line-height: 1.6;
  position: relative;
}

.container {
  padding: 24px; /* Apply padding to the container */
}

.header {
  display: flex;
  justify-content: left; /* Aligns all items to the left */
  align-items: center; /* Vertically centers items */
  gap: 80px; /* Adds 80px space between each item */
  margin-bottom: 48px;
  text-transform: lowercase;
}

.header a {
  color: rgb(0, 0, 0); /* Sets the hyperlink color to black */
  text-decoration: none; /* Removes the underline from the hyperlink */
}

.about {
  width: 100%; /* The overall container width */
  margin-top: 360px;
  margin-bottom: 48px;
  border-bottom: 1px solid #757575;
  padding-bottom: 24px;
  display: flex; /* Allows layout control */
  flex-direction: column; /* Ensures text and border stack vertically */
  align-items: flex-start; /* Aligns the content to the left horizontally */
}

.about > p {
  max-width: 40ch; /* Limits text width to approximately 40 characters */
  text-align: left; /* Aligns the text to the left */
}

.featured-work {
  width: 100%;
  margin-top: 48px;
}

.featured-work h2 {
  width: 100%;
  margin-top: 40px;
  font-size: 20px;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.featured-work-item {
  display: grid;
  grid-template-columns: 40px auto 100px 150px;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #757575;
}

.featured-work-item a {
  color: rgb(0, 0, 0); /* Sets the hyperlink color to black */
  text-decoration: underline; /* Underlines the hyperlink */
}

.featured-work-item span {
  font-size: 16px;
}

.image-top-right {
  position: absolute;
  top: 60px;
  right: 60px;
  width: 400px; /* Adjust as needed for size */
  height: auto;
}